.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/autotools/libtool.m4
build/autotools/ltoptions.m4
build/autotools/ltsugar.m4
build/autotools/ltversion.m4
build/autotools/lt~obsolete.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
*.lo
*.la
install-sh
libtool
ltmain.sh
missing
stamp-h1
